/* -----------------------------------------------------------------------*/

/* Navbar CSS */

/* -----------------------------------------------------------------------*/
/* Navbar Main Container */
.navbar-main-container {
	display: grid;
	grid-template-columns: 1.5fr 3fr 1.5fr;
	align-items: center;

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	height: 3.6em;
	background-color: #1a1a1b;
	border-bottom: 1px solid #343536;
}

/* -----------------------------------------------------------------------*/
/* Navbar Left Section */

.navbar-left-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;

	gap: 1em;
}

.navbar-reddit-container {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 0.5em;

	margin-left: 1vw;
}

.navbar-reddit-logo-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 2.25em;
	width: 2.25em;

	border-radius: 90px;
	background-color: #ff4500;
}

.navbar-reddit-logo {
	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
}

.navbar-reddit-text {
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.navbar-about-links-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	gap: 1em;
}

.navbar-about-links {
	color: white;
}

.navbar-about-links:hover {
	cursor: pointer;
}

/* -----------------------------------------------------------------------*/
/* Navbar Middle Section */

.navbar-middle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.navbar-searchbar-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;

	height: 2.5em;
	width: 35em;
	border-radius: 50px;

	gap: 0.5em;
	padding-left: 1.25em;
	padding-right: 35em;

	background-color: #2a3236;
}

.navbar-searchbar-container:hover {
	background-color: #333d42;
}

.searchbar-focused-true {
	border: 1px solid blue;
	outline: 1px solid white;
}

.navbar-search-bar {
	width: 35em;
	height: 2em;
	color: white;
}

.navbar-search-bar::placeholder {
	color: #808283;
}

.show-clear-button-true {
	color: white;
}

.show-clear-button-false {
	visibility: hidden;
}

/* -----------------------------------------------------------------------*/
/* Navbar Right Section - general */
.navbar-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;

	gap: 1em;
	margin-right: 1em;
}

/* -----------------------------------------------------------------------*/
/* Navbar Right Section - logged in */
.navbar-profile-image {
	display: block;
	height: 2.2em;
	width: 2.2em;

	border-radius: 100%;
}

/* -----------------------------------------------------------------------*/
/* Navbar Right Section - not logged in */
.navbar-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-button > button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 3em;

	border-radius: 30px;
	color: #d7dadc;
	font-weight: bold;
}

.navbar-button-signup {
	width: 6em;

	font-size: 14px;
	font-weight: normal;

	border: 2px solid #d7dadc;
	background-color: #1a1a1b;
}

.navbar-button-signup:hover {
	background-color: #2a3236;
}

.navbar-button-login {
	width: 5em;

	font-size: 14px;
	font-weight: normal;

	border: 2px solid #d93900;
	background-color: #d93900;
}

.navbar-button-login:hover {
    border: 2px solid #AE2C00;
    background-color: #AE2C00;
}
