/* -----------------------------------------------------------------------*/

/* Login Modal Form CSS */

/* -----------------------------------------------------------------------*/
/* Modal Main Container */

.login-modal-main-container {
	display: flex;
	flex-direction: column;

	width: 30em;

	border-radius: 15px;

	background-color: #181c1f;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Exit Container */

.login-modal-exit-container {
	display: flex;
	justify-content: flex-end;
}

.login-modal-exit-button {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;

	height: 2em;
	width: 2em;

	border-radius: 100%;

	color: white;
	background-color: #2a3236;
}

.login-modal-exit-button:hover {
	background-color: #333d42;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Form Container */

.login-modal-form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	margin: 3em;
	margin-left: 5em;
	margin-right: 5em;
	/* gap: 0.75em; */
}

/* -----------------------------------------------------------------------*/
/* Form Modal Intro Blurb Container */

.login-modal-form-blurb-container {
	margin-bottom: 1.5em;
	color: #b7cad4;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Intro Blurb Container */
.login-modal-form-sign-up-shortcut-container {
	font-size: 14px;
	color: #b7cad4;

	margin-top: 0.5em;
	margin-bottom: 1.5em;
}

.login-modal-form-sign-up-link {
	color: #5d83e7;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Both */

.login-modal-form-input-container {
	height: 3.75em;
	width: 100%;

	border: 2px solid transparent;
	border-radius: 20px;

	color: #b7cad4;
	background-color: #2a3236;
}

.login-modal-form-input-container:hover {
	background-color: #333d42;
}

.login-modal-form-input {
	padding-left: 25px;

	height: 300%;

	border-radius: 20px;
}

.login-modal-form-error-icon {
	position: fixed;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-left: 17.5em;
	color: #ff4f40;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Email Section */

.login-modal-form-email-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 0.3em;
	margin-bottom: 0.5em;
}

.login-modal-email-error-true {
	border: 2px solid #ff4f40;
}

.email-input-focused-false {
	position: relative;
    top: 17.5px;
    left: 25px;

	font-size: 16px;

	width: fit-content;
	pointer-events: none;

	transition: all 0.25s ease-in-out;
}

.email-input-focused-true {
	position: relative;
    top: 7.5px;
    left: 25px;

	width: fit-content;

	font-size: 12px;
	pointer-events: none;

	transition: all 0.25s ease-in-out;
}

.login-modal-form-errors-container {
	height: 0.75em;
	margin-left: 1em;

	color: #ff4f40;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Password Section */

.login-modal-form-password-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 0.3em;
	margin-bottom: 0.5em;
}

.login-modal-password-error-true {
	border: 2px solid #ff4f40;
}

.password-input-focused-false {
    position: relative;
    top: 17.5px;
    left: 25px;

	font-size: 16px;

	width: fit-content;
	pointer-events: none;

	transition: all 0.25s ease-in-out;
}

.password-input-focused-true {
    position: relative;
    top: 7.5px;
    left: 25px;

	width: fit-content;

	font-size: 12px;
	pointer-events: none;

	transition: all 0.25s ease-in-out;
}

/* -----------------------------------------------------------------------*/
.login-modal-form-button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 3em;
	width: 100%;

	border: 2px solid #d93a00;
	border-radius: 35px;

	color: white;
	background-color: #d93a00;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Demo User Login Section */

.login-modal-form-demo-container {
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.modal-demo-user-button {
	border: 3px solid white;

	color: white;
	background-color: transparent;
}

.modal-demo-user-button:hover {
	background-color: #2a3236;
}

/* -----------------------------------------------------------------------*/
/* Form Modal Login Section */

/* .login-modal-form-login-container {
    display: flex;
    justify-content: center;

    width: 100%;
} */

/* .login-form-login-button:hover {
    cursor: pointer;

    background-color: #DC4A14;
} */

/* -----------------------------------------------------------------------*/
